---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}


<section class="hero">
    {% include "partials/_header.html" %}
  <div class="container">

    <div class="hero__title">
      <div class="title__main"><strong class="blue">Choose Us</strong> And <strong>Take</strong> Your Business To
        <strong class="blue">High Level</strong></div>
      <div class="title__benefits">
        <span>Google <strong>Advertising </strong></span>
        <span class="between">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <span>Content <strong>Marketing</strong></span>
        <span class="between accent">
            <span></span>
            <span></span>
            <span></span>
          </span>
        <span>Social <strong>Campaings</strong></span>
      </div>
    </div>
    <div class="hero__dots">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</section>
<section class="needs">
  <div class="container">
    <div class="section__title">
      <h2>All You <strong>Need</strong>
        </h2>
      <span class="between">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <p>
            Sed ut perspiciatis unde omnis iste natus error <br>
            sit voluptatem accusantium.
        </p>
    </div>
    <div class="needs__wrap">
      <div class="needs__item">
        <div class="needs__icon">
          <img src="img/needs-icon1.png" alt="">
        </div>
        <div class="section__title">
            <h2>Google <strong>Advertising</strong>
              </h2>
            <span class="between">
                <span></span>
                <span></span>
                <span></span>
              </span>
              <p>
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium totam aperiam.
              </p>
          </div>
      </div>
      <div class="needs__item">
          <div class="needs__icon">
            <img src="img/needs-icon1.png" alt="">
          </div>
          <div class="section__title">
              <h2>Google <strong>Advertising</strong>
                </h2>
              <span class="between">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium totam aperiam.
                    
                </p>
            </div>
        </div>
        <div class="needs__item">
            <div class="needs__icon">
              <img src="img/needs-icon1.png" alt="">
            </div>
            <div class="section__title">
                <h2>Google <strong>Advertising</strong>
                  </h2>
                <span class="between">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                  <p>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium laudantium totam aperiam.
                  </p>
              </div>
          </div>
    </div>
  </div>
</section>


{% endblock %}
